﻿@font-face {
    font-family: 'IRZar';
    src: url('../fonts/IRZar.ttf') format('truetype');
}
* {
    font-family: 'IRZar';
}

.w-100{
    width:100%
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .myhide{
      display: block;
  }
  
  .myDIV:hover + .myhide {
    display: none;
  }


  .circle {
    position: relative;
    width: 200px;
    height: 200px;
    background: blue;
    border-radius:   100% 0  0 100% ;
  }
  .circle::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 111px solid transparent;
    border-top: 110px solid blue;
    top:  200px;
    left: 89px;
  }

  