<!DOCTYPE html>
<html lang="fa">

<head>
  <title>index | </title>
  <meta charset="utf-8">
  
  <!-- CSS & bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css">
  <link rel="stylesheet" href="css/bootstrap-rtl.min.css" type="text/css">

  <!--Costom CSS -->
  <link rel="stylesheet" href="css/CostumCss.css" type="text/css">

  <!-- Vuetify -->
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>

<body>
  <div id="app">
    <v-app>
      <v-main>

        <v-toolbar color="blue" dense dark>

          <v-app-bar-nav-icon @click.stop="drawer = !drawer">

          </v-app-bar-nav-icon>

          <v-divider class="mx-4 " vertical></v-divider>

          <div style="padding-top: 25px; margin-right: 13px;">

            <v-text-field background-color="blue" dark solo flat dense label="search" append-icon="mdi-magnify">
            </v-text-field>

          </div>

          <v-divider vertical></v-divider>

          <v-spacer></v-spacer>

          <v-btn icon>

            <v-icon>mdi-home</v-icon>
          </v-btn>

        </v-toolbar>

        <div class ="circle2"> </div>
        <v-navigation-drawer v-model="drawer" 
        absolute bottom temporary right 
        class="rounded-l-circle"
        height="600"
        width="400"
        color="light-blue lighten-3"
        >
          
         
          <v-list nav dense >
            <v-list-item-group v-model="group" class="white--text" >
              <v-list-item>
               
                  <v-avatar size="56" style="margin-left: -0px;">
                    <img alt="user" src="images/4.png"></img>
                  </v-avatar>
                
              </v-list-item>

              <v-list-item color="white">
                <v-list-item-title>Home</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>SERVICES</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>infiuencer marketing</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>advertising</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>idea</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>consumer insight</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>ABOUT US</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>CONTACT US</v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>Buzz</v-list-item-title>
              </v-list-item>

             
            </v-list-item-group>
         </v-list>
       
      </v-card>
        </v-navigation-drawer>
        <!--////////////////////////////////////////////////-->
        <v-carousel cycle height="650" hide-delimiter-background show-arrows-on-hover vertical-delimiters>
          <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src">
          </v-carousel-item>
        </v-carousel>

        <!--////////////////////////////////////////////////-->
        <div style="margin-top: 100px;">

          <v-row justify="center">
            <v-col v-for="i in cards" :key="i" cols="12" md="2">

              <v-hover v-slot:default="{ hover }">
                <v-card class="mx-auto  rounded-b-circle " height="280" max-width="200" :img="`${i.back_img}`">

                  <v-expand-transition>
                    <div v-if="hover"
                      class="myDIV d-flex transition-fast-in-fast-out  v-card--reveal display-1 white--text"
                      style="height: 100%;">
                      <h3 style="color: white;"> {{i.sub}}</h3>
                    </div>
                  </v-expand-transition>

                  <div class="myhide">
                    <div style="background-color: cornflowerblue;">
                      <h3 style="text-align:center ; color: white;">
                        {{i.title}}
                      </h3>

                    </div>

                    <div style="margin-top: 50px;">
                      <v-img class="center" max-height="80" max-width="80" :src="`${i.img}`"></v-img>
                    </div>
                  </div>
                </v-card>
              </v-hover>
        </div>

        </v-col>
        </v-row>
        <!--////////////////////////////////////////////////-->

        <div style="margin-top: 100px;padding-bottom: 50px; background-color: #CFD8DC;">
          <v-divider></v-divider>
          <h1 style="text-align:center ;  ">some of our clients</h1>

          <v-row justify="center" align="center">
            <v-col v-for="i in clients" :key="i" cols="12" md="1">

              <v-img max-height="50" max-width="50" :src="`${i.img}`"></v-img>

            </v-col>
          </v-row>

          <v-row align="center" justify="center" style="margin-top: 15px;">
            <v-btn class="pa-8 rounded-r-xl text-center " color="blue-grey lighten-5">

              <v-icon right dark> mdi-arrow-right </v-icon>

              VIEW ALL WORK
            </v-btn>
          </v-row>
        </div>
        <!--////////////////////////////////////////////////-->


        <v-card class="mx-auto " height="400" width="100%"
          img="https://alefban.com/wp-content/uploads/2018/04/Freelancer-02-Alefban.jpg">


          <v-row align="end" justify="end">

            <div style="margin-top: 100px; margin-left: 30px;">
              <v-list-item-title class="headline mb-6">
                make a video clipped
                <v-avatar size="56">
                  <img alt="user" src="images/4.png">
                </v-avatar>

                </v-img>
              </v-list-item-title>
              <v-list-item-subtitle class="headline mb-1" style="margin-top: -30px;
                 margin-right: 69px;">
                for crest brand</v-list-item-subtitle>
              </v-list-item-content>
            </div>

          </v-row>


          <div style="padding-right: 146px;">
            <v-btn icon>
              <v-icon x-large color='white'>mdi-play</v-icon>
            </v-btn>
          </div>
        </v-card>
        <!--////////////////////////////////////////////////-->


        <v-card style="padding-top: 4px;" flat class="text-center" color="#EEEEEE">
          <h2>Subscribe Our Newsletter</h2>
          <v-card-text class="black--text pt-0">
            Get the bast news and stories delivered to your inbox
          </v-card-text>


          <v-form>
            <v-container>
              <v-row justify="center" align="center">

                <v-col cols="12" md="2" style="padding-top: 0px; ">
                  <v-btn color="deep-purple lighten-1" x-large class="rounded-r-xl white--text ">
                    Subscribe
                  </v-btn>
                </v-col>

                <v-col cols="12" md="6" style="margin-top: 13px;">
                  <v-text-field solo class="rounded-l-xl" label="E-mail" required></v-text-field>
                </v-col>


              </v-row>
            </v-container>
          </v-form>
        </v-card>



        <!--////////////////////////////////////////////////-->

        <v-footer class="deep-purple lighten-2">
          <v-container fluid>
            <v-layout>
              <v-flex md3>
                <p style="color: white; font-size: 17px;">تهران میرداماد میدان مادر خیابان شهید سنجابی (بهروز سابق) کوچه
                  شریفی پلاک 6 افق ارتباطات فردید | تلفن 021 22225896</p>
                <p style="color: white; font-size: 17px;">N 6 Sharifi Alley Sanjabi Ave Madar Sq Mirdamad Blvd tehran
                  Iran      |      +98 22 22 58 96</p>
                  <p style="color: white; font-size: 12px;">| Fardid Media @ 2019 . All Rights Reservad |</p>
              </v-flex>
              <v-flex md7 class="white--text pt-0 text-xs-center">

              </v-flex>
              <v-flex md2>

                <v-card flat tile class=" deep-purple lighten-2 text-end">

                  <v-card-text>
                    <v-avatar size="56" style="margin-left: -0px;">
                      <img alt="user" src="images/4.png"></img>
                    </v-avatar>
                    <p style="color: white; margin-bottom: 0px; font-size: 18px;">fardidmedia@gmail.com</p>

                    <v-btn v-for="icon in icons" :key="icon" class="mx-0 white--text" icon>
                      <v-icon size="24px">
                        {{ icon }}
                      </v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>

                  </v-card-text>

                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-footer>
      </v-main>

    </v-app>

  </div>
</body>

<!-- Vuetify -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="js/Vuetify.js"></script>


<!-- jquery & bootstrap -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Costom Script -->
<script src="js/CostumScript.js"></script>

</html>